body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.footer {
  margin: 0;
  padding: 0;
}

.top-section {
  background-color: #000;
  color: #fff;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}

.top-section div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-section div i {
  font-size: 20px;
  color: #fff;
}
.footer-content {
  background-color: #f9f9f9;
  color: #333;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.footer-content div {
  flex: 1;
  min-width: 180px;
  margin-right: 20px;
}

.footer-content h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-content ul li a:hover {
  color: #333;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #555;
}
@media (max-width: 768px){
  .top-section{
    flex-direction: column;
    text-align: center;
  }
  .footer-content{ 
    flex-direction: column;
    text-align: center;
  }
  .footer-content div {
    margin-bottom: 20px;
  }
}